body 
{
    margin-left:100px;
    background-color: whitesmoke;
    font-family: 'Rubik', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.6;
    color:rgb(37, 43, 97);
    text-align:left;
}

header
{
    font-size: 18px;
    font-weight: 700;
    line-height: auto;
    word-spacing: 5px;
    letter-spacing: 1px;
}

footer
{
    font-size: 18px;
    font-weight: 700;
    line-height: auto;
    word-spacing: 5px;
    letter-spacing: 1px;
}

img
{
    border-radius:50%;
}

h1
{
    font-size: 35px;
    font-weight: 700;
    line-height: auto;
}

h2
{
    font-size: 25px;
    font-weight: 700;
    line-height: auto;
}

h3
{
    font-size: 18px;
    font-weight: 700;
    line-height: auto;
}

li
{
    font-size: 1000;
    font-style:bold;
}

a
{
    color: #b017b3
}

a:hover, a:focus
{
    color: rgb(178, 214, 228);
    opacity: 0.6;
}

a:active
{
    color: #961f7c;
}

a:visited
{
    color: #9e6396
}

button
{
    background-color: rgb(221, 4, 4);
    border-color:black;
    border-radius: 50px;
    font-family: inherit;
    color:rgb(10, 6, 6);
    text-decoration: none;
    padding: 25px;

}

button:hover
{
    cursor: pointer;
    opacity: 0.5;
}

button:active
{
    cursor: pointer;
    color: pink;
    
}

button:visited
{
    background-color:lightpink;
}


